@model obligatorioProg3.ViewModels.InicioViewModel

@{
    ViewBag.Title = "Home Page";
}




@section styles {
    <style>
        .imagenFondoParaHome {
            background-image: url('/Content/Images/imagenFondoParaHome.jpg');
            background-position: center;
            background-attachment: fixed;
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            min-height: 100vh;
            padding-bottom: 2rem;
        }


        .card-custom {
            border: 10px solid #0d1b2a;
            border-radius: 5px;
            box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.6); /* efecto sombra para los contornos de la cardd */
            background-color: darkcyan;
            margin: 65px;
            max-width: 20rem;
        }

        .btn-primary {
            color: black;
        }

        .btn-primary:hover {
            color: aqua;
        }

        .modal {
            opacity: 1;
        }

        .modal-content {
            background-color: midnightblue;
            opacity: 4;
        }

        .texto-custom {
            color: black;
            border-radius: 10px;
            background-color: steelblue;
        }

        .hr-custom {
            border: none;
            border-top: 2px solid black;
            margin: 1rem 0;
        }

        .modal-title {
            color: black;
            border-radius: 10px;
            background-color: steelblue;
        }

        .modal-header {
            border-bottom: none;
        }

        .modal-footer {
            border-top: none;
        }

        .btn-secondary {
            background-color: dodgerblue;
            color: black;
            border: none;
        }

        .btn-secondary:hover {
            background-color: navy;
            color: cyan;
        }
    </style>
}

<main>

    <div class="imagenFondoParaHome">
        <div class="container py-5">

            @if (Model.idPrograma == 0)
            {
                <div class="alert alert-info text-center" role="alert">
                    No hay programa en emisión actualmente.
                </div>
            }
            else
            {
                <div class="card">
                    <div class="card-header">
                        ¡Ahora mismo!
                    </div>
                    <img src="@Model.imagenPrograma" class="card-img-top" alt="Imagen del programa actual">
                    <div class="card-body">
                        <h5 class="card-title">Programa que suena actualmente: @Model.nombrePrograma</h5>
                        <p class="card-text">@Model.descripcionPrograma</p>
                        <hr />
                        <p class="card-text">Hora de inicio: @Model.horaInicio</p>
                        <br />
                        <p class="card-text">Hora de final: @Model.horaFinal</p>
                        <a href="#" class="btn btn-primary"> Ver mas informacion</a>
                    </div>
                </div>
            }



            <div class="row justify-content-center">


                @foreach (var noticia in Model.noticias)
                {


                    <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center mb-4">
                        <div class="card card-custom w-100 mx-1 mx-md-3 mx-lg-4 my-3">
                            <img src="@noticia.imagen" class="card-img-top" alt="Imagen de noticia" style="height: 200px; object-fit: cover;">
                            <div class="card-body">
                                <h5 class="card-title"> @noticia.titulo</h5>
                                <p class=" card-text"> Fecha de publicación: @noticia.fechaPublicacion.ToString("dd/MM/yyyy")</p>
                                <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#noticiaModels-@noticia.id">Leer más...</a> @*(model)*@
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" tabindex="-1" id="noticiaModels-@noticia.id" aria-labelledby="modalLabel-@noticia.id" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalLabel@obligatorioProg3.ViewModels.InicioViewModel.idNoticias">@noticia.titulo</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                                </div>

                                <hr class="hr-custom" />

                                <div class="modal-body">
                                    <img src=" @noticia.imagen" class=" img-fluid mb-3" alt=" Imagen de noticia" />
                                    <hr class="hr-custom" />
                                    <p class=" texto-custom"> Descripción de la noticia: @noticia.contenido</p>
                                    <p class="texto-custom"> Fecha de publiación: @noticia.fechaPublicacion.ToString("dd/MM/yyyy")</p>
                                </div>

                                <hr class="hr-custom" />

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>



    </div>
</main>
