<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="@(ViewContext.RouteData.Values["controller"].ToString().Equals("Noticias") ? "noticias-background" : "")">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark custom-navbar">
        <div class="container">
            <a href="@Url.Action("Index", "Home")" class="navbar-brand align-content-md-start">
                <img src="~/Content/Images/logoLaVozDelEste2.png" alt="Logo de Mi App" style="height: 65px;" />
            </a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Alternar navegación" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1 justify-content-start custom-nav custom-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home", new { area = "" }, new { @class = "btn btn-outline-info" })</li>
                    <li>@Html.ActionLink("Patrocinadores", "Index", "Patrocinadores", new { area = "" }, new { @class = "btn btn-outline-info" })</li>
                    <li>@Html.ActionLink("Conductores", "Index", "Conductores", new { area = "" }, new { @class = "btn btn-outline-info" })</li>
                    <li>@Html.ActionLink("Programas", "Index", "Programas", new { area = "" }, new { @class = "btn btn-outline-info" })</li>
                    <li>@Html.ActionLink("Noticias", "Index", "Noticias", new { area = "" }, new { @class = "btn btn-outline-info" })</li>
                </ul>

                <ul class="navbar-nav justify-content-end custom-nav">
                    <li>@Html.ActionLink("Iniciar sesión", "Index", "Home", new { area = "" }, new { @class = "btn btn-outline-info" })</li>
                    <li>@Html.ActionLink("Registrarse", "CrearUsuario", "Registro", new { area = "" }, new { @class = "btn btn-outline-info" })</li>
                </ul>

            </div>

        </div>
    </nav>

    <div class="content-wrapper">
        @RenderBody()
    </div>

    <footer class="custom-footer">
        <hr />
        <p>Gracias por visitar La Voz del Este</p>
        <p>&copy; @DateTime.Now.Year</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

<style>

    .custom-navbar {
        background-color: #001f3f; 
    }

    .custom-nav li{
        margin: 10px; 
    }

    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    .body-content {
        margin: 0;
        padding: 0;
    }

    body.noticias-background {
        margin: 0;
        background: linear-gradient(to bottom, #050519, #0b0c28, #0f113d, #191970);
        color: aqua;
    }

    body, html {
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden; /* Para q las tablas no se pasen del largo del layout */
    }

    .navbar-nav {
        flex-wrap: wrap; /* Para evitar que desborde si el contenido es muy largo en el nav */
    }

    .custom-footer {
        background-color: #001f3f;
        color: aqua;
        padding: 10px 0;
        text-align: center;
        margin-top: auto;
    }

    .content-wrapper {
        flex: 1;
    }


</style>