@model obligatorioProg3.Models.noticia

@{
    ViewBag.Title = "Create";
}

@section Styles{ 

    <style>

        html, body {
            height: 100%;
            margin: 0;
            background: linear-gradient(to bottom, #050519, #0b0c28, #0f113d, #191970);
            color: aqua;
            min-height: 100vh;
        }

        .btn-default {
            color: mediumaquamarine;
            background-color: blue;
            min-width: 150px;
            text-align: center;
        }

        .btn-default:hover {
            color: mediumblue;
            background-color: mediumaquamarine;
            min-width: 150px;
            text-align: center;
        }

        .card-body {
            border-color: darkblue;
            background-color: midnightblue;
            box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.6); /* efecto sombra para los contornos de la cardd */
            border-radius: 10px;
            max-width: 600px;
            width: 100%;
            margin: 20px;
            padding: 20px;
        }


        .form-control {
            color: aqua;
            border: 1px solid darkblue;
            width: 100%;
        }

        .text-darkslateblue {
            color: darkslateblue;
            font-weight: bold;
        }


    </style>

}

<body>
    <div class="container">
            <div class="card-body mx-auto my-5">
                @using (Html.BeginForm())
                 {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <br />
                        <h4 class="text-center text-aqua">Creación de noticia</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.titulo, htmlAttributes: new { @class = "form-label text-aqua text-center d-block" })
                            <div class="text-center">
                                @Html.EditorFor(model => model.titulo, new { htmlAttributes = new { @class = "form-control w-75 mx-auto text-center", style = "color: black;", placeholder = "un nombre para la noticia" } })
                                @Html.ValidationMessageFor(model => model.titulo, "", new { @class = "text-darkslateblue" })
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            @Html.LabelFor(model => model.contenido, htmlAttributes: new { @class = "form-label text-aqua text-center d-block" })
                            <div class="form-group mb-3 text-center">
                                @Html.EditorFor(model => model.contenido, new { htmlAttributes = new { @class = "form-control w-75 mx-auto text-center ", style = "color: black;", placeholder = "un contexto o acontecimiento" } })
                                @Html.ValidationMessageFor(model => model.contenido, "", new { @class = "text-darkslateblue" })
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            @Html.LabelFor(model => model.fechaPublicacion, htmlAttributes: new { @class = "form-label text-aqua text-center d-block" })
                            <div class="form-group mb-3 text-center">
                                @Html.EditorFor(model => model.fechaPublicacion, new { htmlAttributes = new { @class = "form-control w-75 mx-auto text-center", style = "color: black;", @type = "text", placeholder = "año-mes-dia con guiones o barras" } })
                                @Html.ValidationMessageFor(model => model.fechaPublicacion, "", new { @class = "text-darkslateblue" })
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            @Html.LabelFor(model => model.imagen, htmlAttributes: new { @class = "form-label text-aqua text-center d-block" })
                            <div class="form-group mb-3 text-center">
                                @Html.EditorFor(model => model.imagen, new { htmlAttributes = new { @class = "form-control w-75 mx-auto text-center", style = "color: black;", placeholder = "una dirrecion o enlace de imagen" } })
                                @Html.ValidationMessageFor(model => model.imagen, "", new { @class = "text-darkslateblue" })
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            <div class="form-group mb-3 text-center">
                                <input type="submit" value="Crear" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                 }


                <div class="mt-3">
                    @Html.ActionLink("← Volver a la lista", "Index", null, new { @class = "btn btn-outline-info" })
                </div>
            </div>
    </div>
   
    
</body>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
}
